:root {
    --primary-bg: #0B0B21;
    --primary-bg-light:#141438;
    --secondary-bg: #3345AB;
    --text-col: #ffffff;
    --secondary-col: #2BDAE1;
}

body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    color: var(--text-col);
  
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: var(--primary-bg);

    opacity: 70%;
    color: var(--text-col);

}


.logo {
    width: 30px;
     height: 30px;
}

nav {
    display: flex;
}

.social-link {
    margin-right: 10px;
    text-decoration: none;
}

.social-link img {
    width: 30px;
    height: 30px;

}

main {
    margin-top: 55vh;
    text-align: center;
}

h1 {
    font-size: 2.7rem;
    font-weight: bolder;
}



#explore-button {
    padding: 10px 20px;
    background-color: var(--secondary-col);
    color: var(--primary-bg);
    border: none;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: .25s;
}

#explore-button:hover {
    font-size: 2.25rem;
}
.main{
    display: flex;
    justify-content: center;
    
}
div.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    max-width: 60vw;
    justify-content: center;
    
}


.card {
    width: 200px;
    height: 300px;
    background-color: var(--primary-bg);
    margin: 20px;
    opacity: 880%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}

.color-strip {
    height: 30px;
    background-color: var(--secondary-bg); 
}

.card .img-container
{
    width: 70%;
    min-height: 50%;
    /* max-height: 70%; */
    /* display: flex; */
}
.card img {
    
    width: 100%;
    height: auto;
    max-height: 80%;
    /* align-self: center; */
    margin-left:20%;
    margin-top: 20%;
    /* height: auto; */
}

.card-content {
    padding: 10px;
    padding-left: 20px;
}

.product-name {
    font-size: 1.35rem;
    font-weight: bold;
    margin: 10px 0;
}

.product-price {
    font-size: 1.35rem;
    font-weight: bold;
}